{{ $baseurl := .Site.BaseURL }}
{{ range $index, $page := .Paginator.Pages }}
<div class="row">
    <div class="card w-100 hov">
        <div class="card-body">
            <details>
                <summary>
                    <h5 class="card-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h5>
                    {{if .Params.categories }}
                    <div class="categories">
                        <time datetime="{{ .Date.Format .Site.Params.dateFormat }}">{{ .Date.Format .Site.Params.dateFormat }}</time>
                        {{ range $index, $category := .Params.categories }}
                        {{ if ne $index 0 }} · {{end}}
                        <a href="{{$baseurl}}/categories/{{ $category | urlize }}/">{{ $category }}</a>
                        {{ end }}
                    </div>
                    {{end}}
                </summary>
                <div class="card-text">{{ .Summary }}……</div>
            </details>
            <div class="tags">
                Tags:
                {{if .Params.tags }}
                {{ range $index, $tag := .Params.tags }}
                {{ if ne $index 0 }}· {{end}}
                <a href="{{$baseurl}}/tags/{{ $tag | urlize }}/">#{{ $tag }}</a>
                {{ end }}
                {{end}}
            </div>
        </div>
    </div>
</div>
{{ end }}
