{{ $baseurl := .Site.BaseURL }}
        </div>
        <!-- SCRIPTS -->
        <!-- build:js {{$baseurl}}/js/main.min.js -->
        <script src="../../node_modules/jquery/dist/jquery.min.js"></script>
        <script src="../../node_modules/popper.js/dist/popper.min.js"></script>
        <script src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="../../node_modules/highlight.js/lib/highlight.js"></script>
        <!-- endbuild -->
        <script>
            hljs.initHighlightingOnLoad()
        </script>
    </body>
</html>