{{ $baseurl := .Site.BaseURL }}
<!DOCTYPE html>
<html lang="zh">
    <head>
        <!--base href="{{$baseurl}}"-->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=yes">
        <meta name="Description" content="{{ .Site.Params.desc}}">
        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="@{{ .Site.Params.twitter }}">
        <meta name="twitter:title" content="{{ .Title }}">
        <meta name="twitter:url" content="{{$baseurl}}">
        <meta name="twitter:description" content="{{.Site.Params.desc}}">
        <meta name="twitter:image:src" content="{{$baseurl}}/images/head.png">
        <link rel="alternate" href="{{$baseurl}}/index.xml" title="{{.Site.Title}} - {{.Site.Params.desc}}" type="application/atom+xml">
        <title>
            {{if eq .Title .Site.Title}}
                {{if .Site.Params.rename.home}}
                    {{.Site.Params.rename.home}}
                {{else}}
                    Home
                {{end}}
            {{else}}
                {{ .Title }}
            {{end}}|{{.Site.Title}} by {{.Site.Params.author}} 
        </title>
        <!-- STYLES -->
        <!-- build:css css/main.min.css -->
        <link ref="stylesheet" href="../../node_modules/@fortawesome/fontawesome-free-webfonts/css/fontawesome.css">
        <link ref="stylesheet" href="../../node_modules/@fortawesome/fontawesome-free-webfonts/css/fa-brands.css">
        <link ref="stylesheet" href="../../node_modules/@fortawesome/fontawesome-free-webfonts/css/fa-solid.css">
        <link ref="stylesheet" href="../../node_modules/highlightjs/styles/monokai.css">
        <link ref="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
        <link ref="stylesheet" href="../css/style.css">
        <!-- endbuild -->
    </head>
    <body>
        <nav class="navbar navbar-dark bg-dark sticky-top navbar-expand-lg">
            <a class="navbar-brand" href="#">{{.Site.Title}}</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{$baseurl}}">
                            <i class="fas fa-home"></i>
                            {{if .Site.Params.rename.home}}
                                {{.Site.Params.rename.home}}
                            {{else}}
                                Home
                            {{end}}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{$baseurl}}/categories/">
                            <i class="fas fa-folder-open"></i>
                            {{if .Site.Params.rename.categories}}
                                {{.Site.Params.rename.categories}}
                            {{else}}
                                Categories
                            {{end}}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{$baseurl}}/tags/">
                            <i class="fas fa-tags"></i>
                            {{if .Site.Params.rename.tags}}
                                {{.Site.Params.rename.tags}}
                            {{else}}
                                Tags
                            {{end}}
                        </a>
                    </li>
                    {{ if .Site.Params.menu }}
                        {{ range .Site.Params.menu }}
                            <li class="nav-item">
                                <a class="nav-link" href="{{$baseurl}}{{.url}}">
                                    <i class="{{if .brand}}fab{{else}}fas{{end}} fa-{{.icon}}"></i>
                                    {{.name}}
                                </a>
                            </li>
                        {{ end }}
                    {{ end }}
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <hr class="resp_r"/>
                    </li>
                    {{with .Site.Params.email}}
                    <li class="nav-item">
                        <a class="nav-link" href="mailto:{{ . }}">
                            <i class="fas fa-at"></i>
                            <span class="resp_r">Mail</span>
                        </a>
                    </li>
                    {{end}}
                    {{with .Site.Params.weibo}}
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.weibo.com/{{ . }}">
                            <i class="fab fa-weibo"></i>
                            <span class="resp_r">Weibo</span>
                        </a>
                    </li>
                    {{end}}
                    {{with .Site.Params.facebook}}
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.facebook.com/{{ . }}">
                            <i class="fab fa-facebook"></i>
                            <span class="resp_r">Facebook</span>
                        </a>
                    </li>
                    {{end}}
                    {{with .Site.Params.twitter}}
                    <li class="nav-item">
                        <a class="nav-link" href="https://twitter.com/{{ . }}">
                            <i class="fab fa-twitter"></i>
                            <span class="resp_r">Twitter</span>
                        </a>
                    </li>
                    {{end}}
                    {{with .Site.Params.gplus}}
                    <li class="nav-item">
                        <a class="nav-link" href="https://google.com/+{{ . }}">
                            <i class="fab fa-google-plus"></i>
                            <span class="resp_r">Google+</span>
                        </a>
                    </li>
                    {{end}}
                    {{with .Site.Params.linkedin}}
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.linkedin.com/in/{{ . }}">
                            <i class="fab fa-linkedin"></i>
                            <span class="resp_r">LinkedIn</span>
                        </a>
                    </li>
                    {{end}}
                    {{with .Site.Params.github}}
                    <li class="nav-item">
                        <a class="nav-link" href="https://github.com/{{ . }}">
                            <i class="fab fa-github"></i>
                            <span class="resp_r">Github</span>
                        </a>
                    </li>
                    {{end}}
                    {{with .Site.Params.gitlab}}
                    <li class="nav-item">
                        <a class="nav-link" href="https://gitlab.com/{{ . }}">
                            <i class="fab fa-gitlab"></i>
                            <span class="resp_r">Gitlab</span>
                        </a>
                    </li>
                    {{end}}
                    {{with .Site.Params.mastodon}}
                    <li class="nav-item">
                        <a class="nav-link" href="{{.}}">
                            <i class="fab fa-mastodon"></i>
                            <span class="resp_r">Mastodon</span>
                        </a>
                    </li>
                    {{end}}
                    {{with .Site.Params.steam}}
                    <li class="nav-item">
                        <a class="nav-link" href="https://steamcommunity.com/id/{{.}}">
                            <i class="fab fa-steam"></i>
                            <span class="resp_r">Steam</span>
                        </a>
                    </li>
                    {{end}}
                    {{with .Site.Params.telegram}}
                    <li class="nav-item">
                        <a class="nav-link" href="https://t.me/{{.}}">
                            <i class="fab fa-telegram"></i>
                            <span class="resp_r">Telegram</span>
                        </a>
                    </li>
                    {{end}}
                    {{with .Site.Params.soundcloud}}
                    <li class="nav-item">
                        <a class="nav-link" href="https://soundcloud.com/{{.}}">
                            <i class="fab fa-soundcloud"></i>
                            <span class="resp_r">SoundCloud</span>
                        </a>
                    </li>
                    {{end}}
                    {{with .Site.Params.instagram}}
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.instagram.com/{{.}}">
                            <i class="fab fa-instagram"></i>
                            <span class="resp_r">Instagram</span>
                        </a>
                    </li>
                    {{end}}
                    <li class="nav-item">
                        <a class="nav-link" href="{{$baseurl}}/index.xml">
                            <i class="fas fa-rss"></i>
                            <span class="resp_r">RSS</span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container">
            <div class="row"><p> </p></div>
            <div class="row">
                <div class="card w-100">
                    <div class="card-body">
                        <div class="row">
                            <div class="col text-center">
                                <img id="avatar" src="{{.Site.Params.photo}}" class="img-thumbnail rounded-circle" alt="">
                            </div>
                        </div>
                        <div class="row"><p> </p></div>
                        <div class="row">
                            <div class="col text-center">
                                <h5>{{.Site.Params.author}}</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col text-center">
                                <p>{{.Site.Params.bio}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row"><p> </p></div>
