<div class="row"><p> </p></div>
<div class="prev-next row">
    <div class="card w-100">
        <div class="card-body">
            <div class="row">
                <div class="col mr-auto">
                    {{ if .Prev }}
                        <a href="{{.Prev.URL}}" class="btn btn-primary">
                            <i class="fas fa-chevron-left"></i> 
                            <span class="resp">
                            {{if .Site.Params.rename.prevpage}}
                                {{.Site.Params.rename.prevpage}}
                            {{else}}
                                PREV
                            {{end}}
                            </span>
                        </a>
                    {{ else }}
                        <a href="#" class="btn btn-primary disabled">
                            <i class="fas fa-times-circle"></i>
                            <span class="resp">
                            {{if .Site.Params.rename.nocontent}}
                                {{.Site.Params.rename.nocontent}}
                            {{else}}
                                NONE
                            {{end}}
                            </span>
                        </a>
                    {{ end }}
                </div>
                <div class="col text-right">
                    {{ if .Next }}
                        <a href="{{.Next.URL}}" class="btn btn-primary">
                            <span class="resp">
                            {{if .Site.Params.rename.nextpage}}
                                {{.Site.Params.rename.nextpage}}
                            {{else}}
                                NEXT
                            {{end}}
                            </span>
                            <i class="fas fa-chevron-right"></i>
                        </a>
                    {{ else }}
                        <a href="#" class="btn btn-primary disabled">
                            <span class="resp">
                            {{if .Site.Params.rename.nocontent}}
                                {{.Site.Params.rename.nocontent}}
                            {{else}}
                                NONE
                            {{end}}
                            </span>
                            <i class="fas fa-times-circle"></i>
                        </a>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</div>